<!-- begin sidebar -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<div class="page-sidebar navbar-collapse collapse" ng-switch-when="true" init-sidebar>
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
		<li class="nav-item start active open">
			<a ui-sref="home" class="nav-link ">
				<i class="icon-home"></i>
				<span class="title" translate="sidebar.dashboard.title">Recobell</span>
				<span class="selected"></span>
			</a>
		</li>
		<li class="heading">
			<h3 class="uppercase" translate="sidebar.service.title">Service</h3>
		</li>
		<li class="nav-item  ">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i class="icon-graph"></i>
				<span class="title" translate="sidebar.service.reports.title">Reports</span>
				<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item  ">
					<a ui-sref="activeUser" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.activeUser.title">Active User (AU)</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="uniqueVisit" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.uniqueVisit.title">Unique Visit (UV)</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="pageView" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.pageView.title">Page View (PV)</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="orderFrequency" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.orderFrequency.title">Order Frequency</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="revenue"class="nav-link ">
						<span class="title" translate="sidebar.service.reports.revenue.title">Revenue</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="customerTransaction" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.customerTransaction.title">Customer Transaction</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="purchasedItemPerTransaction" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.purchasedItemPerTransaction.title">Purchased Item per Transaction</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="numberOfClickPerVisit" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.numberOfClickPerVisit.title">Number of Click per Visit</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="conversionRate" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.conversionRate.title">Conversion Rate</span>
					</a>
				</li>
				<li class="nav-item  ">
					<a ui-sref="averageRevenuePerSession" class="nav-link ">
						<span class="title" translate="sidebar.service.reports.averageRevenuePerSession.title">Average Revenue per Session</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="heading">
			<h3 class="uppercase" translate="sidebar.settings.title">Settings</h3>
		</li>
		<li class="nav-item  ">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i class="icon-user"></i>
				<span class="title" translate="sidebar.settings.account.title">Account</span>
				<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item  ">
					<a ui-sref="settings" class="nav-link ">
						<span class="title" translate="sidebar.settings.account.userProfile.title">User Profile</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
