<nav>
    <ul class="rbAdminApp-pagination">
        <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
        <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
        <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
        <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
        <li class="active"><a>{{page + 1}}</a></li>
        <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
        <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
        <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
    </ul>
</nav>
