
<!-- begin content -->
<div class="page-content">
	<!-- begin page head -->
	<div class="page-head">
		<!-- begin page title -->
		<div class="page-title">
			<h1><span translate="settings.title"> User Profile</span><small> | <span translate="settings.category">Account</span></small></h1>
		</div>
		<!-- end page title -->
	</div>
	<!-- end page head -->
	<!-- begin page base content -->
	<div class="row">
		<div class="col-md-12">
			<!-- begin profile sidebar -->
			<div class="profile-sidebar">
				<!-- begin portlet main -->
				<div class="portlet light profile-sidebar-portlet bordered">
					<!-- begin sidebar userpic -->
					<div class="profile-userpic">
						<img src="https://s3-ap-northeast-1.amazonaws.com/rb-assets/rb-admin/images/pages/settings/profile_user.jpg" class="img-responsive" alt="">
					</div>
					<!-- end sidebar userpic -->
					<!-- begin sidebar user title -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name"> {{settingsAccount.username}} </div>
						<div class="profile-usertitle-job"> {{settingsAccount.customername}} </div>
					</div>
					<!-- end sidebar user title -->
					<!-- begin sidebar menu -->
					<div class="profile-usermenu">
						<ul class="nav">
							<!-- 
							<li class="active">
                                   <a ui-sref="settings">
                                       <i class="icon-settings"></i> Account Settings </a>
                               </li>
                                -->
                               <!-- 
							<li>
								<a href="page_user_profile_1_help.html">
									<i class="icon-info"></i> Help
								</a>
							</li>
							 -->
						</ul>
					</div>
					<!-- end sidebar menu -->
				</div>
				<!-- end porlet main -->
			</div>
			<!-- end profile sidebar -->
			<!-- begin profile content -->
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						<div class="portlet light bordered">
							<div class="portlet-title tabbable-line">
								<div class="caption caption-md">
									<i class="icon-globe theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
								</div>
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#" data-target ="#tab_1_1" data-toggle="tab" translate = "settings.subtitle1">Personal Account</a>
									</li>
									<!-- <li>
										<a ng-href="#tab_1_2" data-toggle="tab">Change Avatar</a>
									</li> -->
									<li>
										<a href="#" data-target ="#tab_1_3" data-toggle="tab" translate = "settings.subtitle2">Change Password</a>
									</li>
								</ul>
							</div>
							<div class="portlet-body">
								<div class="tab-content">
									<!-- begin personal info tab -->
									<div class="tab-pane active" id="tab_1_1">
										<form role="form" ng-submit="accountSave()">
											<div class="form-group">
												<label class="control-label" translate="settings.form.username">User Name</label>
												<input type="text" class="form-control" ng-model="settingsAccount.username" placeholder="{{'settings.form.username.placeholder' | translate}}" value="{{settingsAccount.username}}" readonly/>
											</div>
											<div class="form-group">
												<label class="control-label" translate="settings.form.customerName">Customer Name</label>
												<input type="text" class="form-control" ng-model="settingsAccount.customerName" placeholder="{{'settings.form.customerName.placeholder' | translate}}" value="{{settingsAccount.customerName}}"/>
											</div>
											<div class="form-group">
												<label class="control-label" translate="settings.form.customerUrl">Customer Url</label>
												<input type="text" class="form-control" ng-model="settingsAccount.customerURL" placeholder="{{'settings.form.customerUrl.placeholder' | translate}}" value="{{settingsAccount.customerURL}}"/>
											</div>
											<div class="form-group">
												<label class="control-label" translate="settings.form.name">Name</label>
												<input type="text" class="form-control" ng-model="settingsAccount.name" placeholder="{{'settings.form.name.placeholder' | translate}}" value="{{settingsAccount.name}}"/>
											</div>
											<div class="form-group">
												<label class="control-label" translate="settings.form.email">E mail</label>
												<input type="text" class="form-control" ng-model="settingsAccount.email" placeholder="{{'settings.form.email.placeholder' | translate}}" value="{{settingsAccount.email}}"/>
											</div>
											<div class="form-group">
												<label class="control-label" translate="settings.form.phoneNum">Mobile Number</label>
												<input type="text" class="form-control" ng-model="settingsAccount.phoneNum" placeholder="{{'settings.form.phoneNum.placeholder' | translate}}" value="{{settingsAccount.phoneNum}}"/>
											</div>
											<div class="form-group margiv-top-10">
												<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.submit">Save</button>
												<button type="reset" class="btn btn-default" translate="settings.form.cancel"> Cancel </a>
											</div>
											<div class="alert alert-success form-group" ng-show="infosuccess" translate="settings.form.infosuccess">
								                <strong>Password changed!</strong>
								            </div>
								            <div class="alert alert-danger form-group" ng-show="infoerror"  translate="settings.form.infoerror">
								                <strong>An error has occurred!</strong> The password could not be changed.
								            </div>
										</form>
									</div>
									<!-- end personal info tab -->
									<!-- begin change avatar tab -->
									<!-- 
									<div class="tab-pane" id="tab_1_2">
										<form action="#" role="form">
											<div class="form-group">
												<div class="fileinput fileinput-new" data-provides="fileinput">
													<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
														<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
													</div>
													<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
													</div>
													<div>
														<span class="btn default btn-file">
															<span class="fileinput-new"> Select image </span>
															<span class="fileinput-exists"> Change </span>
															<input type="file" name="...">
														</span>
														<a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
													</div>
												</div>
												<div class="clearfix margin-top-10">
													<span class="label label-danger">NOTE! </span>
													<span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
												</div>
											</div>
											<div class="margin-top-10">
												<a href="javascript:;" class="btn green"> Submit </a>
												<a href="javascript:;" class="btn default"> Cancel </a>
											</div>
										</form>
									</div>
									-->
									<!-- end change avatar tab -->
									<!-- begin change password tab -->
									<div class="tab-pane" id="tab_1_3">
										<form role="form" ng-submit = "passwordSave()">
											<!-- <div class="form-group">
												<label class="control-label" translate="settings.form.currentPassword">Current Password</label>
												<input type="password" class="form-control" />
											</div>-->
											<div class="form-group">
												<label class="control-label" translate="settings.form.newPassword">New Password</label>
												<input type="password" class="form-control" ng-model="settingsAccount.newPassword"/>
											</div>
											<div class="form-group">
												<label class="control-label" translate="settings.form.retypeNewPassword">Re-type New Password</label>
												<input type="password" class="form-control" ng-model="settingsAccount.newPasswordRetype"/>
											</div>
											<div class="form-group margin-top-10">
												<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.submit">Save</button>
												<button type="reset" class="btn btn-default" translate="settings.form.cancel"> Cancel </a>
											</div>
											<div class="alert alert-success form-group" ng-show="pwdsuccess" translate="settings.form.pwdsuccess">
								                <strong>Password changed!</strong>
								            </div>
								            <div class="alert alert-danger form-group" ng-show="pwderror"  translate="settings.form.pwderror">
								                <strong>An error has occurred!</strong> The password could not be changed.
								            </div>
								            <div class="alert alert-danger form-group" ng-show="pwddoNotMatch" translate="settings.form.pwddonotmatch">
								                The password and its confirmation do not match!
								            </div>
										</form>
									</div>
									<!-- end change password tab -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end profile content -->	
		</div>
	</div>
	<!-- end page base content -->
</div>
<!-- end content -->

<!-- <div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 translate="settings.title" translate-values="{username: '{{settingsAccount.login}}'}">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label for="firstName" translate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" translate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="langKey" translate="settings.form.language">Language</label>
                    <select id="langKey" name="langKey" class="form-control" ng-model="settingsAccount.langKey" ng-controller="LanguageController" ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>
</div>
 -->