
<!-- begin content -->
<div class="page-content">
	<!-- begin page head -->
	<div class="page-head">
		<!-- begin page title -->
		<div class="page-title">
	        <h1> Recobell <small> | main </small></h1>
	    </div>
	    <!-- end page title -->
	</div>
	<!-- end page head -->
	<!-- begin page base content -->
	<div class="row">
		<div class="col-md-12">
		<!-- begin row -->
			<div class="row">
				<div class="col-md-12">
					<!-- begin dashboard portlet -->
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold uppercase " translate=""> 추천 Summary Board </span> <small style="color:#9eacb4; font-size:11px;"> | 헤드라인 클릭시 상세 지표 페이지로 랜딩됩니다.</small>
							</div>
						</div>
						<div class="portlet-body">
							<!-- start 1st dashboard line (revenue, orderFrequency, customerTransaction, conversionRate) -->
							<div class="row widget-row">
								<div class="col-md-3">
									<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" data-placement="bottom" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 매출 대비 추천 경유 매출 비율이 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="revenue" class="navlink">매출</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat" data-counter="counterup" data-value="" ng-bind="reco.revenueRate"></span>
											</div>
										</div>
									</div>
									<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-3">
									<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" data-placement="bottom" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 구매건수 대비 추천 경유 구매건수 비율이 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="orderFrequency" class="navlink">구매 건수</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat" data-counter="counterup" data-value="" ng-bind="reco.purchaseCountRate">0</span>
											</div>
										</div>
									</div>
									<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-3">
									<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" data-placement="bottom" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 주문에 대한 객단가 대비 추천을 경유하여 구매한 고객들의 객단가가 얼마나 성과가 있었는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="customerTransaction" class="navlink">객단가</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat font-red" ng-if="reco.customerTransactionAvgResult >= 100.0" style='color:red;'>+<span ng-bind="customerTransactionAvgResult"></span></span>
												<span class="widget-thumb-body-stat font-blue" ng-if="reco.customerTransactionAvgResult < 100.0"><span ng-bind="customerTransactionAvgResult"></span></span>
											</div>
										</div>
									</div>
									<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-3">
									<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" data-placement="bottom" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 구매전환율 대비 추천을 경유한 고객들의 구매전환율 성과가 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="conversionRate" class="navlink">구매전환율</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat font-red" ng-if="reco.purchaseConversionRateResult >= 100.0" style='color:red;'>+<span ng-bind="purchaseConversionRateResult"></span></span>
												<span class="widget-thumb-body-stat font-blue" ng-if="reco.purchaseConversionRateResult < 100.0"><span ng-bind="purchaseConversionRateResult"></span></span>
											</div>
										</div>
									</div>
								<!-- END WIDGET THUMB -->
								</div>
							</div>
							<!-- end 1st dashboard line -->
					        <!-- start 2nd dashboard line -->
							<div class="row widget-row">
								<div class="col-md-2">
								<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 상품 조회수 대비 추천 경유 상품 조회수 비율이 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="pageView" class="navlink">PV</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat" data-counter="counterup" ng-bind="reco.pageViewRate" data-value="">0</span>
											</div>
										</div>
									</div>
								<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-2">
								<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 세션 방문수 대비 추천 경유 세션 방문수 비율이 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="activeUser" class="navlink">AU</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat" data-counter="counterup" ng-bind="reco.sessionVisitRate" data-value="">0</span>
											</div>
										</div>
									</div>
								<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-2">
								<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" class="badge badge-default tooltips" data-original-title="어제 일자의 순수 전체 고객 방문수 (중복 카운트 제거) 대비 순수 추천 고객 방문수(중복 카운트 제거) 비율이 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="uniqueVisit" class="navlink">UV</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat" data-counter="counterup" ng-bind="reco.uniqueVisitRate" data-value="">0</span>
											</div>
										</div>
									</div>
								<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-2">
								<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 세션 단위 평균 구매 금액 대비 추천을 경유하여 구매한 고객들의 세션 단위 평균 구매 금액 성과가 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="averageRevenuePerSession" class="navlink">세션 매출</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat font-red" ng-if="reco.sessionPurchaseRevenueAvgResult >= 100.0" style='color:red;'>+<span ng-bind="sessionPurchaseRevenueAvgResult"></span></span>
												<span class="widget-thumb-body-stat font-blue" ng-if="reco.sessionPurchaseRevenueAvgResult < 100.0"><span ng-bind="sessionPurchaseRevenueAvgResult"></span></span>
											</div>
										</div>
									</div>
								<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-2">
								<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" class="badge badge-default tooltips" data-original-title="어제 일자의 전체 고객의 평균 구매상품수 대비 추천 경유 고객의 평균 구매상품수 성과가 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="purchasedItemPerTransaction" class="navlink">구매 상품수</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat font-red" ng-if="reco.purchaseItemCountAvgResult >= 100.0" style='color:red;'>+<span ng-bind="purchaseItemCountAvgResult"></span></span>
												<span class="widget-thumb-body-stat font-blue" ng-if="reco.purchaseItemCountAvgResult < 100.0"><span ng-bind="purchaseItemCountAvgResult"></span></span>
											</div>
										</div>
									</div>
								<!-- END WIDGET THUMB -->
								</div>
								<div class="col-md-2">
								<!-- BEGIN WIDGET THUMB -->
									<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
										<span style="position:absolute; right:25px; top:10px;" class="badge badge-default tooltips" data-original-title="어제 일자의 세션단위 평균 상품 클릭수 대비 추천 경유 세션의 평균 상품 클릭수 성과가 얼마나 되는지 확인하실 수 있습니다. ">?</span>
										<h4 class="widget-thumb-heading"><a ui-sref="numberOfClickPerVisit" class="navlink">상품 클릭수</a></h4>
										<div class="widget-thumb-wrap">
											<div class="widget-thumb-body">
												<span class="widget-thumb-subtitle">%</span>
												<span class="widget-thumb-body-stat font-red" ng-if="reco.visitItemClickAvgResult >= 100.0" style='color:red;'>+<span ng-bind="visitItemClickAvgResult"></span></span>
												<span class="widget-thumb-body-stat font-blue" ng-if="reco.visitItemClickAvgResult < 100.0"><span ng-bind="visitItemClickAvgResult"></span></span>
											</div>
										</div>
									</div>
								<!-- END WIDGET THUMB -->
								</div>
							</div>
						</div>
					</div>
					<!-- end dashboard portlet -->
					<!-- start ? portlet -->
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold uppercase " translate=""> 레코벨의 또다른 서비스를 경험하세요! </span>
							</div>
						</div>
						<div class="portlet-body">
							<div class="clearfix"></div>
					        <div>
					            <ul style="line-height:170%">
						            <li>Reco Tem &amp; Reco App - 레코벨 추천 서비스와 레코벨 개인화 App Push 및 개인화 이메일로 개인화 마케팅의 전부를 경험하세요. <a href="http://assets.recobell.io/rb-proposal/proposal-recobell.pdf"><img src="https://s3-ap-northeast-1.amazonaws.com/rb-assets/rb-admin/images/pages/main/download.png" style="width:13px;height:13px;"/></a></li>
						            <li>Reco CRM Consulting - 고객의 CRM KPIs Data 를 매일 업데이트 된 버전으로 한 눈에 살펴보고 마케팅에 활용하세요. <a href="http://assets.recobell.io/rb-proposal/proposal-crm.pdf"><img src="https://s3-ap-northeast-1.amazonaws.com/rb-assets/rb-admin/images/pages/main/download.png" style="width:13px;height:13px;"/></a></li>
						            <li>Reco Tail - SA 광고 마켓의 혁신적인 솔루션! 빅데이터에 기반한 롱테일 키워드로 신규 고객을 활보하세요. <a href="http://assets.recobell.io/rb-proposal/proposal-recotail.pdf"><img src="https://s3-ap-northeast-1.amazonaws.com/rb-assets/rb-admin/images/pages/main/download.png" style="width:13px;height:13px;"/></a></li>
					            </ul>
					        </div>
					        <div class="clearfix"></div>
						</div>
					</div>
					<!-- end ? portlet -->
					<!-- start ?? portlet -->
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold uppercase " translate=""> 문의 사항이 있을 시 아래 담당자에게 연락 바랍니다 </span>
							</div>
						</div>
						<div class="portlet-body">
							<div>
								<ul>
									<li>레코벨 담당자: 김성호 본부장 / Mobile 010 7205 6311 / E-mail ryan.kim@recobell.com</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end ?? portlet -->
	        	</div>
	        </div>
		</div>
	</div>
</div>

<!-- <div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="main.title">Welcome, Java Hipster!</h1>
            <p class="lead" translate="main.subtitle">This is your homepage</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message" translate-values="{username: '{{account.username}}'}">
                    You are logged in as user "{{account.username}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
            </div>

            <p translate="main.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://jhipster.github.io/" target="_blank" translate="main.link.homepage">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" translate="main.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" translate="main.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" translate="main.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank"  translate="main.link.contact">contact @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span translate="main.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" translate="main.github">Github</a>!
            </p>
        </div>
    </div>
</div>
 -->