<div>
    <h2 translate="rbAdminApp.reportDaily.home.title">ReportDailys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="reportDaily.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="rbAdminApp.reportDaily.home.createLabel">Create a new ReportDaily</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="rbAdminApp.reportDaily.cuid">Cuid</th>
                    <th translate="rbAdminApp.reportDaily.date">Date</th>
                    <th translate="rbAdminApp.reportDaily.channel">Channel</th>
                    <th translate="rbAdminApp.reportDaily.sessionVisitTotal">SessionVisitTotal</th>
                    <th translate="rbAdminApp.reportDaily.sessionVisitReco">SessionVisitReco</th>
                    <th translate="rbAdminApp.reportDaily.sessionVisitRate">SessionVisitRate</th>
                    <th translate="rbAdminApp.reportDaily.uniqueVisitTotal">UniqueVisitTotal</th>
                    <th translate="rbAdminApp.reportDaily.uniqueVisitReco">UniqueVisitReco</th>
                    <th translate="rbAdminApp.reportDaily.uniqueVisitRate">UniqueVisitRate</th>
                    <th translate="rbAdminApp.reportDaily.pageViewTotal">PageViewTotal</th>
                    <th translate="rbAdminApp.reportDaily.pageViewReco">PageViewReco</th>
                    <th translate="rbAdminApp.reportDaily.pageViewRate">PageViewRate</th>
                    <th translate="rbAdminApp.reportDaily.purchaseCountTotal">PurchaseCountTotal</th>
                    <th translate="rbAdminApp.reportDaily.purchaseCountReco">PurchaseCountReco</th>
                    <th translate="rbAdminApp.reportDaily.purchaseCountRate">PurchaseCountRate</th>
                    <th translate="rbAdminApp.reportDaily.revenueTotal">RevenueTotal</th>
                    <th translate="rbAdminApp.reportDaily.revenueReco">RevenueReco</th>
                    <th translate="rbAdminApp.reportDaily.revenueRate">RevenueRate</th>
                    <th translate="rbAdminApp.reportDaily.customerTransactionAvgTotal">CustomerTransactionAvgTotal</th>
                    <th translate="rbAdminApp.reportDaily.customerTransactionAvgReco">CustomerTransactionAvgReco</th>
                    <th translate="rbAdminApp.reportDaily.customerTransactionAvgResult">CustomerTransactionAvgResult</th>
                    <th translate="rbAdminApp.reportDaily.purchaseItemCountAvgTotal">PurchaseItemCountAvgTotal</th>
                    <th translate="rbAdminApp.reportDaily.purchaseItemCountAvgReco">PurchaseItemCountAvgReco</th>
                    <th translate="rbAdminApp.reportDaily.purchaseItemCountAvgResult">PurchaseItemCountAvgResult</th>
                    <th translate="rbAdminApp.reportDaily.visitItemClickAvgTotal">VisitItemClickAvgTotal</th>
                    <th translate="rbAdminApp.reportDaily.visitItemClickAvgReco">VisitItemClickAvgReco</th>
                    <th translate="rbAdminApp.reportDaily.visitItemClickAvgResult">VisitItemClickAvgResult</th>
                    <th translate="rbAdminApp.reportDaily.purchaseConversionRateTotal">PurchaseConversionRateTotal</th>
                    <th translate="rbAdminApp.reportDaily.purchaseConversionRateReco">PurchaseConversionRateReco</th>
                    <th translate="rbAdminApp.reportDaily.purchaseConversionRateResult">PurchaseConversionRateResult</th>
                    <th translate="rbAdminApp.reportDaily.sessionPurchaseRevenueAvgTotal">SessionPurchaseRevenueAvgTotal</th>
                    <th translate="rbAdminApp.reportDaily.sessionPurchaseRevenueAvgReco">SessionPurchaseRevenueAvgReco</th>
                    <th translate="rbAdminApp.reportDaily.sessionPurchaseRevenueAvgResult">SessionPurchaseRevenueAvgResult</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reportDaily in reportDailys track by reportDaily.id">
                    <td><a ui-sref="reportDaily.detail({id:reportDaily.id})">{{reportDaily.id}}</a></td>
                    <td>{{reportDaily.cuid}}</td>
                        <td>{{reportDaily.date | date:'mediumDate'}}</td>
                    <td>{{reportDaily.channel}}</td>
                    <td>{{reportDaily.sessionVisitTotal}}</td>
                    <td>{{reportDaily.sessionVisitReco}}</td>
                    <td>{{reportDaily.sessionVisitRate}}</td>
                    <td>{{reportDaily.uniqueVisitTotal}}</td>
                    <td>{{reportDaily.uniqueVisitReco}}</td>
                    <td>{{reportDaily.uniqueVisitRate}}</td>
                    <td>{{reportDaily.pageViewTotal}}</td>
                    <td>{{reportDaily.pageViewReco}}</td>
                    <td>{{reportDaily.pageViewRate}}</td>
                    <td>{{reportDaily.purchaseCountTotal}}</td>
                    <td>{{reportDaily.purchaseCountReco}}</td>
                    <td>{{reportDaily.purchaseCountRate}}</td>
                    <td>{{reportDaily.revenueTotal}}</td>
                    <td>{{reportDaily.revenueReco}}</td>
                    <td>{{reportDaily.revenueRate}}</td>
                    <td>{{reportDaily.customerTransactionAvgTotal}}</td>
                    <td>{{reportDaily.customerTransactionAvgReco}}</td>
                    <td>{{reportDaily.customerTransactionAvgResult}}</td>
                    <td>{{reportDaily.purchaseItemCountAvgTotal}}</td>
                    <td>{{reportDaily.purchaseItemCountAvgReco}}</td>
                    <td>{{reportDaily.purchaseItemCountAvgResult}}</td>
                    <td>{{reportDaily.visitItemClickAvgTotal}}</td>
                    <td>{{reportDaily.visitItemClickAvgReco}}</td>
                    <td>{{reportDaily.visitItemClickAvgResult}}</td>
                    <td>{{reportDaily.purchaseConversionRateTotal}}</td>
                    <td>{{reportDaily.purchaseConversionRateReco}}</td>
                    <td>{{reportDaily.purchaseConversionRateResult}}</td>
                    <td>{{reportDaily.sessionPurchaseRevenueAvgTotal}}</td>
                    <td>{{reportDaily.sessionPurchaseRevenueAvgReco}}</td>
                    <td>{{reportDaily.sessionPurchaseRevenueAvgResult}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="reportDaily.detail({id:reportDaily.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="reportDaily.edit({id:reportDaily.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="reportDaily.delete({id:reportDaily.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
