
<div>
    <h2><span translate="rbAdminApp.reportMonthly.detail.title">ReportMonthly</span> {{reportMonthly.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.cuid">Cuid</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.cuid}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.date">Date</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.channel">Channel</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.channel}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.sessionVisitTotal">SessionVisitTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.sessionVisitTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.sessionVisitReco">SessionVisitReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.sessionVisitReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.sessionVisitRate">SessionVisitRate</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.sessionVisitRate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.uniqueVisitTotal">UniqueVisitTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.uniqueVisitTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.uniqueVisitReco">UniqueVisitReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.uniqueVisitReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.uniqueVisitRate">UniqueVisitRate</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.uniqueVisitRate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.pageViewTotal">PageViewTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.pageViewTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.pageViewReco">PageViewReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.pageViewReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.pageViewRate">PageViewRate</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.pageViewRate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseCountTotal">PurchaseCountTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseCountTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseCountReco">PurchaseCountReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseCountReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseCountRate">PurchaseCountRate</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseCountRate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.revenueTotal">RevenueTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.revenueTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.revenueReco">RevenueReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.revenueReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.revenueRate">RevenueRate</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.revenueRate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.customerTransactionAvgTotal">CustomerTransactionAvgTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.customerTransactionAvgTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.customerTransactionAvgReco">CustomerTransactionAvgReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.customerTransactionAvgReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.customerTransactionAvgResult">CustomerTransactionAvgResult</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.customerTransactionAvgResult}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseItemCountAvgTotal">PurchaseItemCountAvgTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseItemCountAvgTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseItemCountAvgReco">PurchaseItemCountAvgReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseItemCountAvgReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseItemCountAvgResult">PurchaseItemCountAvgResult</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseItemCountAvgResult}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.visitItemClickAvgTotal">VisitItemClickAvgTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.visitItemClickAvgTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.visitItemClickAvgReco">VisitItemClickAvgReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.visitItemClickAvgReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.visitItemClickAvgResult">VisitItemClickAvgResult</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.visitItemClickAvgResult}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseConversionRateTotal">PurchaseConversionRateTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseConversionRateTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseConversionRateReco">PurchaseConversionRateReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseConversionRateReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.purchaseConversionRateResult">PurchaseConversionRateResult</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.purchaseConversionRateResult}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgTotal">SessionPurchaseRevenueAvgTotal</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.sessionPurchaseRevenueAvgTotal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgReco">SessionPurchaseRevenueAvgReco</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.sessionPurchaseRevenueAvgReco}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgResult">SessionPurchaseRevenueAvgResult</span>
                </td>
                <td>
                    <span class="form-control-static">{{reportMonthly.sessionPurchaseRevenueAvgResult}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
