<div>
    <h2 translate="rbAdminApp.reportMonthly.home.title">ReportMonthlys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="reportMonthly.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="rbAdminApp.reportMonthly.home.createLabel">Create a new ReportMonthly</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="rbAdminApp.reportMonthly.cuid">Cuid</th>
                    <th translate="rbAdminApp.reportMonthly.date">Date</th>
                    <th translate="rbAdminApp.reportMonthly.channel">Channel</th>
                    <th translate="rbAdminApp.reportMonthly.sessionVisitTotal">SessionVisitTotal</th>
                    <th translate="rbAdminApp.reportMonthly.sessionVisitReco">SessionVisitReco</th>
                    <th translate="rbAdminApp.reportMonthly.sessionVisitRate">SessionVisitRate</th>
                    <th translate="rbAdminApp.reportMonthly.uniqueVisitTotal">UniqueVisitTotal</th>
                    <th translate="rbAdminApp.reportMonthly.uniqueVisitReco">UniqueVisitReco</th>
                    <th translate="rbAdminApp.reportMonthly.uniqueVisitRate">UniqueVisitRate</th>
                    <th translate="rbAdminApp.reportMonthly.pageViewTotal">PageViewTotal</th>
                    <th translate="rbAdminApp.reportMonthly.pageViewReco">PageViewReco</th>
                    <th translate="rbAdminApp.reportMonthly.pageViewRate">PageViewRate</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseCountTotal">PurchaseCountTotal</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseCountReco">PurchaseCountReco</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseCountRate">PurchaseCountRate</th>
                    <th translate="rbAdminApp.reportMonthly.revenueTotal">RevenueTotal</th>
                    <th translate="rbAdminApp.reportMonthly.revenueReco">RevenueReco</th>
                    <th translate="rbAdminApp.reportMonthly.revenueRate">RevenueRate</th>
                    <th translate="rbAdminApp.reportMonthly.customerTransactionAvgTotal">CustomerTransactionAvgTotal</th>
                    <th translate="rbAdminApp.reportMonthly.customerTransactionAvgReco">CustomerTransactionAvgReco</th>
                    <th translate="rbAdminApp.reportMonthly.customerTransactionAvgResult">CustomerTransactionAvgResult</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseItemCountAvgTotal">PurchaseItemCountAvgTotal</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseItemCountAvgReco">PurchaseItemCountAvgReco</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseItemCountAvgResult">PurchaseItemCountAvgResult</th>
                    <th translate="rbAdminApp.reportMonthly.visitItemClickAvgTotal">VisitItemClickAvgTotal</th>
                    <th translate="rbAdminApp.reportMonthly.visitItemClickAvgReco">VisitItemClickAvgReco</th>
                    <th translate="rbAdminApp.reportMonthly.visitItemClickAvgResult">VisitItemClickAvgResult</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseConversionRateTotal">PurchaseConversionRateTotal</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseConversionRateReco">PurchaseConversionRateReco</th>
                    <th translate="rbAdminApp.reportMonthly.purchaseConversionRateResult">PurchaseConversionRateResult</th>
                    <th translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgTotal">SessionPurchaseRevenueAvgTotal</th>
                    <th translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgReco">SessionPurchaseRevenueAvgReco</th>
                    <th translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgResult">SessionPurchaseRevenueAvgResult</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reportMonthly in reportMonthlys track by reportMonthly.id">
                    <td><a ui-sref="reportMonthly.detail({id:reportMonthly.id})">{{reportMonthly.id}}</a></td>
                    <td>{{reportMonthly.cuid}}</td>
                        <td>{{reportMonthly.date | date:'mediumDate'}}</td>
                    <td>{{reportMonthly.channel}}</td>
                    <td>{{reportMonthly.sessionVisitTotal}}</td>
                    <td>{{reportMonthly.sessionVisitReco}}</td>
                    <td>{{reportMonthly.sessionVisitRate}}</td>
                    <td>{{reportMonthly.uniqueVisitTotal}}</td>
                    <td>{{reportMonthly.uniqueVisitReco}}</td>
                    <td>{{reportMonthly.uniqueVisitRate}}</td>
                    <td>{{reportMonthly.pageViewTotal}}</td>
                    <td>{{reportMonthly.pageViewReco}}</td>
                    <td>{{reportMonthly.pageViewRate}}</td>
                    <td>{{reportMonthly.purchaseCountTotal}}</td>
                    <td>{{reportMonthly.purchaseCountReco}}</td>
                    <td>{{reportMonthly.purchaseCountRate}}</td>
                    <td>{{reportMonthly.revenueTotal}}</td>
                    <td>{{reportMonthly.revenueReco}}</td>
                    <td>{{reportMonthly.revenueRate}}</td>
                    <td>{{reportMonthly.customerTransactionAvgTotal}}</td>
                    <td>{{reportMonthly.customerTransactionAvgReco}}</td>
                    <td>{{reportMonthly.customerTransactionAvgResult}}</td>
                    <td>{{reportMonthly.purchaseItemCountAvgTotal}}</td>
                    <td>{{reportMonthly.purchaseItemCountAvgReco}}</td>
                    <td>{{reportMonthly.purchaseItemCountAvgResult}}</td>
                    <td>{{reportMonthly.visitItemClickAvgTotal}}</td>
                    <td>{{reportMonthly.visitItemClickAvgReco}}</td>
                    <td>{{reportMonthly.visitItemClickAvgResult}}</td>
                    <td>{{reportMonthly.purchaseConversionRateTotal}}</td>
                    <td>{{reportMonthly.purchaseConversionRateReco}}</td>
                    <td>{{reportMonthly.purchaseConversionRateResult}}</td>
                    <td>{{reportMonthly.sessionPurchaseRevenueAvgTotal}}</td>
                    <td>{{reportMonthly.sessionPurchaseRevenueAvgReco}}</td>
                    <td>{{reportMonthly.sessionPurchaseRevenueAvgResult}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="reportMonthly.detail({id:reportMonthly.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="reportMonthly.edit({id:reportMonthly.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="reportMonthly.delete({id:reportMonthly.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
