
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myReportMonthlyLabel" translate="rbAdminApp.reportMonthly.home.createOrEditLabel">Create or edit a ReportMonthly</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="reportMonthly.id" readonly />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.cuid" for="field_cuid">Cuid</label>
            <input type="text" class="form-control" name="cuid" id="field_cuid"
                    ng-model="reportMonthly.cuid"
                    required />
            <div ng-show="editForm.cuid.$invalid">
                <p class="help-block"
                    ng-show="editForm.cuid.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.date" for="field_date">Date</label>
            <input type="date" class="form-control" name="date" id="field_date"
                    ng-model="reportMonthly.date"
                    required />
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.channel" for="field_channel">Channel</label>
            <input type="text" class="form-control" name="channel" id="field_channel"
                    ng-model="reportMonthly.channel"
                    required ng-maxlength="10" />
            <div ng-show="editForm.channel.$invalid">
                <p class="help-block"
                    ng-show="editForm.channel.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.channel.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.sessionVisitTotal" for="field_sessionVisitTotal">SessionVisitTotal</label>
            <input type="number" class="form-control" name="sessionVisitTotal" id="field_sessionVisitTotal"
                    ng-model="reportMonthly.sessionVisitTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.sessionVisitReco" for="field_sessionVisitReco">SessionVisitReco</label>
            <input type="number" class="form-control" name="sessionVisitReco" id="field_sessionVisitReco"
                    ng-model="reportMonthly.sessionVisitReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.sessionVisitRate" for="field_sessionVisitRate">SessionVisitRate</label>
            <input type="number" class="form-control" name="sessionVisitRate" id="field_sessionVisitRate"
                    ng-model="reportMonthly.sessionVisitRate"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.uniqueVisitTotal" for="field_uniqueVisitTotal">UniqueVisitTotal</label>
            <input type="number" class="form-control" name="uniqueVisitTotal" id="field_uniqueVisitTotal"
                    ng-model="reportMonthly.uniqueVisitTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.uniqueVisitReco" for="field_uniqueVisitReco">UniqueVisitReco</label>
            <input type="number" class="form-control" name="uniqueVisitReco" id="field_uniqueVisitReco"
                    ng-model="reportMonthly.uniqueVisitReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.uniqueVisitRate" for="field_uniqueVisitRate">UniqueVisitRate</label>
            <input type="number" class="form-control" name="uniqueVisitRate" id="field_uniqueVisitRate"
                    ng-model="reportMonthly.uniqueVisitRate"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.pageViewTotal" for="field_pageViewTotal">PageViewTotal</label>
            <input type="number" class="form-control" name="pageViewTotal" id="field_pageViewTotal"
                    ng-model="reportMonthly.pageViewTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.pageViewReco" for="field_pageViewReco">PageViewReco</label>
            <input type="number" class="form-control" name="pageViewReco" id="field_pageViewReco"
                    ng-model="reportMonthly.pageViewReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.pageViewRate" for="field_pageViewRate">PageViewRate</label>
            <input type="number" class="form-control" name="pageViewRate" id="field_pageViewRate"
                    ng-model="reportMonthly.pageViewRate"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseCountTotal" for="field_purchaseCountTotal">PurchaseCountTotal</label>
            <input type="number" class="form-control" name="purchaseCountTotal" id="field_purchaseCountTotal"
                    ng-model="reportMonthly.purchaseCountTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseCountReco" for="field_purchaseCountReco">PurchaseCountReco</label>
            <input type="number" class="form-control" name="purchaseCountReco" id="field_purchaseCountReco"
                    ng-model="reportMonthly.purchaseCountReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseCountRate" for="field_purchaseCountRate">PurchaseCountRate</label>
            <input type="number" class="form-control" name="purchaseCountRate" id="field_purchaseCountRate"
                    ng-model="reportMonthly.purchaseCountRate"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.revenueTotal" for="field_revenueTotal">RevenueTotal</label>
            <input type="number" class="form-control" name="revenueTotal" id="field_revenueTotal"
                    ng-model="reportMonthly.revenueTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.revenueReco" for="field_revenueReco">RevenueReco</label>
            <input type="number" class="form-control" name="revenueReco" id="field_revenueReco"
                    ng-model="reportMonthly.revenueReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.revenueRate" for="field_revenueRate">RevenueRate</label>
            <input type="number" class="form-control" name="revenueRate" id="field_revenueRate"
                    ng-model="reportMonthly.revenueRate"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.customerTransactionAvgTotal" for="field_customerTransactionAvgTotal">CustomerTransactionAvgTotal</label>
            <input type="number" class="form-control" name="customerTransactionAvgTotal" id="field_customerTransactionAvgTotal"
                    ng-model="reportMonthly.customerTransactionAvgTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.customerTransactionAvgReco" for="field_customerTransactionAvgReco">CustomerTransactionAvgReco</label>
            <input type="number" class="form-control" name="customerTransactionAvgReco" id="field_customerTransactionAvgReco"
                    ng-model="reportMonthly.customerTransactionAvgReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.customerTransactionAvgResult" for="field_customerTransactionAvgResult">CustomerTransactionAvgResult</label>
            <input type="number" class="form-control" name="customerTransactionAvgResult" id="field_customerTransactionAvgResult"
                    ng-model="reportMonthly.customerTransactionAvgResult"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseItemCountAvgTotal" for="field_purchaseItemCountAvgTotal">PurchaseItemCountAvgTotal</label>
            <input type="number" class="form-control" name="purchaseItemCountAvgTotal" id="field_purchaseItemCountAvgTotal"
                    ng-model="reportMonthly.purchaseItemCountAvgTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseItemCountAvgReco" for="field_purchaseItemCountAvgReco">PurchaseItemCountAvgReco</label>
            <input type="number" class="form-control" name="purchaseItemCountAvgReco" id="field_purchaseItemCountAvgReco"
                    ng-model="reportMonthly.purchaseItemCountAvgReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseItemCountAvgResult" for="field_purchaseItemCountAvgResult">PurchaseItemCountAvgResult</label>
            <input type="number" class="form-control" name="purchaseItemCountAvgResult" id="field_purchaseItemCountAvgResult"
                    ng-model="reportMonthly.purchaseItemCountAvgResult"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.visitItemClickAvgTotal" for="field_visitItemClickAvgTotal">VisitItemClickAvgTotal</label>
            <input type="number" class="form-control" name="visitItemClickAvgTotal" id="field_visitItemClickAvgTotal"
                    ng-model="reportMonthly.visitItemClickAvgTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.visitItemClickAvgReco" for="field_visitItemClickAvgReco">VisitItemClickAvgReco</label>
            <input type="number" class="form-control" name="visitItemClickAvgReco" id="field_visitItemClickAvgReco"
                    ng-model="reportMonthly.visitItemClickAvgReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.visitItemClickAvgResult" for="field_visitItemClickAvgResult">VisitItemClickAvgResult</label>
            <input type="number" class="form-control" name="visitItemClickAvgResult" id="field_visitItemClickAvgResult"
                    ng-model="reportMonthly.visitItemClickAvgResult"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseConversionRateTotal" for="field_purchaseConversionRateTotal">PurchaseConversionRateTotal</label>
            <input type="number" class="form-control" name="purchaseConversionRateTotal" id="field_purchaseConversionRateTotal"
                    ng-model="reportMonthly.purchaseConversionRateTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseConversionRateReco" for="field_purchaseConversionRateReco">PurchaseConversionRateReco</label>
            <input type="number" class="form-control" name="purchaseConversionRateReco" id="field_purchaseConversionRateReco"
                    ng-model="reportMonthly.purchaseConversionRateReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.purchaseConversionRateResult" for="field_purchaseConversionRateResult">PurchaseConversionRateResult</label>
            <input type="number" class="form-control" name="purchaseConversionRateResult" id="field_purchaseConversionRateResult"
                    ng-model="reportMonthly.purchaseConversionRateResult"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgTotal" for="field_sessionPurchaseRevenueAvgTotal">SessionPurchaseRevenueAvgTotal</label>
            <input type="number" class="form-control" name="sessionPurchaseRevenueAvgTotal" id="field_sessionPurchaseRevenueAvgTotal"
                    ng-model="reportMonthly.sessionPurchaseRevenueAvgTotal"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgReco" for="field_sessionPurchaseRevenueAvgReco">SessionPurchaseRevenueAvgReco</label>
            <input type="number" class="form-control" name="sessionPurchaseRevenueAvgReco" id="field_sessionPurchaseRevenueAvgReco"
                    ng-model="reportMonthly.sessionPurchaseRevenueAvgReco"
                     />
        </div>
        <div class="form-group">
            <label translate="rbAdminApp.reportMonthly.sessionPurchaseRevenueAvgResult" for="field_sessionPurchaseRevenueAvgResult">SessionPurchaseRevenueAvgResult</label>
            <input type="number" class="form-control" name="sessionPurchaseRevenueAvgResult" id="field_sessionPurchaseRevenueAvgResult"
                    ng-model="reportMonthly.sessionPurchaseRevenueAvgResult"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
