
<!-- begin content -->
<div class="page-content">
	<!-- begin page head -->
	<div class="page-head">
		<!-- begin page title -->
		<div class="page-title">
			<h1> <span translate="sidebar.service.reports.pageView.title">menu 1</span><small> | <span translate="sidebar.service.reports.title">Category</span> </small></h1>
		</div>
		<!-- end page title -->
	</div>
	<!-- end page head -->
	<!-- begin page base content -->
	<div class="row">
		<div class="col-md-12">
			<!-- begin row -->
			<div class="row">
				<div class="col-md-12">
					<!-- begin option portlet -->
					<div ng-include = "'scripts/app/pages/reports/reports-options.html'"></div>
					<!-- end option portlet -->
					<!-- begin chart portlet -->
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-bar-chart "></i>
								<span class="caption-subject bold uppercase " translate="reports.reportChart.title"> Chart Area </span>
							</div>
						</div>
						<div class="portlet-body">
							<div id="chartdiv" class="chart"></div>
						</div>
					</div>
					<!-- end chart portlet -->
					<!-- begin table portlet -->
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-grid "></i>
								<span class="caption-subject bold uppercase " translate="reports.reportTable.title"> Table Area </span>
							</div>
							<div class="tools"> </div>
						</div>
						<div class="portlet-body">
							<table id="tablediv" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th translate="reports.reportTable.pageView.date" style="width:25%"> date </th>
									<th translate="reports.reportTable.pageView.total" style="width:25%"> total </th>
									<th translate="reports.reportTable.pageView.reco" style="width:25%"> reco </th>
									<th translate="reports.reportTable.pageView.result" style="width:25%"> result </th>
								</tr>
							</thead>
							<tbody>	</tbody>
							</table>
						</div>
					</div>
					<!-- end table portlet -->
				</div>
			</div>
		</div>
	</div>
</div>