<!-- begin option portlet -->
<div class="portlet light bordered" set-report>
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-settings"></i>
			<span class="caption-subject bold uppercase " translate="reports.options.title"> Option Area </span>
		</div>
	</div>
	<div class="portlet-body">
<!-- TODO : inline style 정리. -->
		<div style="float:left;display:inline-block;">
			<div id="channel" class="btn-toolbar margin-bottom-10">
				<div class="btn-group">
					<button name="AL" type="button" class="btn btn-default" translate="reports.options.channel.AL.title"> AL </button>
					<button name="PW" type="button" class="btn btn-default" translate="reports.options.channel.PC.title"> PC </button>
					<!-- <button name="MT" type="button" class="btn btn-default" translate="reports.options.channel.MT.title"> MT </button> -->
					<button name="MW" type="button" class="btn btn-default" translate="reports.options.channel.MW.title"> MW </button>
					<!-- <button name="AT" type="button" class="btn btn-default" translate="reports.options.channel.AT.title"> AT </button> -->
					<!-- <button name="AA" type="button" class="btn btn-default" translate="reports.options.channel.AA.title"> AA </button> -->
					<!-- <button name="AI" type="button" class="btn btn-default" translate="reports.options.channel.AI.title"> AI </button> -->
				</div>
			</div>
		</div>
		<div class="form" style="float:right;display:inline-block;">
			<!-- BEGIN FORM-->
			<form action="#" class="form-horizontal form-bordered">
				<div class="form-body">
					<div id="date" class="form-group" style="margin:0 6px 0 6px; ">
						<div class="input-group input-large date-picker input-daterange" data-date-end-date="+0d" data-date-format="yyyy-mm-dd">
							<input name="from" type="text" class="form-control" name="from">
							<span class="input-group-addon"> ~ </span>
							<input name="to" type="text" class="form-control" name="to">
						</div>
						<!-- /input-group -->
						     
					</div>
					<div id="month" class="form-group" style="margin:0 6px 0 6px; display:none;">
						<div class="input-group input-large date-picker input-daterange" data-date-min-view-mode="1" data-date-end-date="+0d" data-date-start-view="0" data-date-max-view-mode="2" data-date-format="yyyy-mm">
							<input name="from" type="text" class="form-control" name="from">
							<span class="input-group-addon"> ~ </span>
							<input name="to" type="text" class="form-control" name="to"> 
						</div>
						<!-- /input-group -->
					</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
		<div style="float:right;display:inline-block;">
			<div id="period" class="btn-toolbar margin-bottom-10">
				<div class="btn-group">
					<button name="day" type="button" class="btn btn-default" translate="reports.options.period.daily.title"> daily button </button>
					<button name="month" type="button" class="btn btn-default" translate="reports.options.period.monthly.title"> monthly button </button>
				</div>
			</div>
		</div>
		<div style="clear : both;"></div>
	</div>
</div>
<!-- end option portlet -->