
<!-- begin header -->
<div class="page-header navbar navbar-fixed-top" role="navigation" ng-switch-when="true" init-navbar set-service>
	<!-- begin header inner -->
	<div class="page-header-inner">
		<!-- begin logo -->
		<div class="page-logo">
			<a href="#/">
				<img src="https://s3-ap-northeast-1.amazonaws.com/rb-assets/rb-admin/images/pages/navbar/logo-light.png" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- end logo -->
		<!-- begin responsive menu toggler -->
			<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
		<!-- end responsive menu toggler -->
		<!-- begin page top -->
		<div class="page-top">
			<!-- begin responsive menu toggler -->
			<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
			<!-- end responsive menu toggler -->
			<!-- begin top navigation menu -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<!-- begin user login dropdown -->
                       <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                       <li class="dropdown dropdown-user dropdown-dark">
                           <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                               <span class="username username-hide-on-mobile"> {{account.username}} </span>
                               <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                               <img alt="" class="img-circle" src="https://s3-ap-northeast-1.amazonaws.com/rb-assets/rb-admin/images/pages/navbar/avatar9.jpg" /> </a>
                           <ul class="dropdown-menu dropdown-menu-default" >
                               <li>
                                   <a ui-sref="settings">
                                       <i class="icon-user"></i> My Profile
                                   </a>
                               </li>
                               <li>
                                   <a href="" ng-click="logout()" data-toggle="collapse" data-target=".navbar-collapse.in">
		                            <i class="icon-key"></i> <span translate="global.menu.account.logout">Log out</span>		                        
		                        </a>
                               </li>
                           </ul>
                       </li>
                       <!--  end user login dropdown -->
				</ul>
			</div>
			<!-- end top navigation menu -->
		</div>
	</div>
	<!-- end header inner -->
</div>
<!-- end header -->