
<!-- CSS -->

<!-- Script -->

<div class="user-login-5" init-login>
	<div class="row bs-reset">
		<!-- left side -->
		<div class="col-md-6 bs-reset">
			<div class="login-bg">
				<img class="login-logo" src="https://s3-ap-northeast-1.amazonaws.com/rb-assets/rb-admin/images/pages/login/rb_logo.png"/>
			</div>
		</div>
		<!-- right side -->
		<div class="col-md-6 login-container bs-reset">
			<div class="login-content">
 				<h1 translate="login.title">Title Area</h1> 
				<p style="font-size:13px;"><span style="color:red">* 환경:</span> PC버전의 Google Chrome 브라우저에 가장 최적되어 있습니다.</p>
				<p style="font-size:13px;"><span style="color:red">* Contact:</span> 김성호<br/>
				- E-mail: ryan.kim@recobell.com<br/>
				- Mobile: 010 7205 6311</p>
				<form class="login-form" role="form" ng-submit="login($event)">
					<div class="row">
						<div class="col-xs-6">
							<input id="username" class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username" autocomplete="off" required/>
						</div>
						<div class="col-xs-6">
							<input id="password" class="form-control form-control-solid placeholder-no-fix" type="password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="password" autocomplete="off" required/>
						</div>
					</div>
					<div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
						<!-- <button class="close" data-close="alert"></button> -->
						<span>Enter any username and password.</span>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="rem-password">
								<p>
									<span translate = "login.form.rememberme">Remember Me</span>
	                            	<input type="checkbox" class="rem-checkbox" />
                                </p>
							</div>
						</div>
						<div class="col-sm-8 text-right">
                            <div class="forgot-password">
                                <a id="forget-password" href="#/reset/request" class="forget-password" translate="login.password.forgot">Forgot Password?</a>
                            </div>
                            <button class="btn blue" type="submit" translate="login.form.button">Sign In</button>
                        </div>
					</div>
				</form>
				<!-- TODO : change password -->
			</div>
			<div class="login-footer">
				<div class="row bs-reset">
                     <div class="col-xs-4 bs-reset" style="display:none">
                         <ul class="login-social">
                             <li>
                                 <a href="javascript:;">
                                     <i class="icon-social-facebook"></i>
                                 </a>
                             </li>
                             <li>
                                 <a href="javascript:;">
                                     <i class="icon-social-twitter"></i>
                                 </a>
                             </li>
                             <li>
                                 <a href="javascript:;">
                                     <i class="icon-social-dribbble"></i>
                                 </a>
                             </li>
                         </ul>
                     </div>
                     <div class="col-xs-12 bs-reset">
                         <div class="login-copyright text-right">
                             <p>Copyright &copy; Recobell</p>
                         </div>
                     </div>
                 </div>
			</div>
		</div>
	</div>
</div>


<!-- 
 <div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 translate="login.title">Sign in</h1>

            <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form class="form" role="form" ng-submit="login($event)">
                <div class="form-group">
                    <label for="username" translate="global.form.username">Login</label>
                    <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password" translate="login.form.password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           ng-model="password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="rememberMe" checked>
                        <span translate="login.form.rememberme">Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" translate="login.form.button">Sign in</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="#/reset/request" translate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning" translate="global.messages.info.register">
                You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
 -->